footer {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    background: linear-gradient(120deg,
            #1c99fe 20.69%,
            #7644ff 50.19%,
            #6e47fd 79.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}